@import "tailwindcss";

:root {
  --background: #07090E;
  --foreground: #EEE9E2;
  --gold: #C8A96E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #07090E;
  color: #EEE9E2;
  overflow-x: hidden;
}
